CEREBRAS_API_KEY=your_cerebras_api_key_here
SUPABASE_URL=https://ttjvxlkysaebzmsisbca.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR0anZ4bGt5c2FlYnptc2lzYmNhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTQ1MjkxNywiZXhwIjoyMDk3MDI4OTE3fQ.oD1HQgrkX5GORIksgGCNC-41p-en2b4iMDfpjoCYC_o
SUPABASE_JWT_SECRET=uD97tao+RiRnb4NhcnBtm/QEMlBI+EZBCoHahxxyJEABFG/QStJDN7O8DinR8U8ofqY+JX5g662470wDeXWA8Q==


